@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section .home{
    min-height: 100vh;
}


.cont {
    position: relative;
}

#proyectoNom {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    user-select: none;
}


#particles {
    z-index: 1;
    height: 100%;
    height: 100vh;
    background: #151217;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
}

.particles-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.particles-css h1 {
    font-size: 60px;
    color: #734f8c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: all 0.5s ease;
}

.particles-css h1:hover {

    transform: translate3d(-225px, -60px, 100px);
    color: #c79ce6;
    /*Secondary color por h1: in hover*/
}

/* .particles-css ::selection{
    background-color: #c5abd8;
    color: #53326b;
}

.particles-css2 ::selection{
    background-color: #53326b;
    color: #fff;
} */

.particles-css .particles-css2 h3 {
    font-size: 20px;
    color: #9c7bb4;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3.span {
    margin: 10px;
    font-size: 26px;
    letter-spacing: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
    user-select: none;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span:hover {
    font-weight: 500;
    font-size: 25px;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: #151217;

}

/* Footer */
footer {
    background-color: #231b29;
    color: #fff;
    padding: 25px;
    text-align: center;
    user-select: none;
    position: relative;
}

footer p {
    text-decoration: none;
}


.styleFoot {
    width: 100%;
    font-size: 10px;
    vertical-align: bottom;
    margin: 2rem 0 2rem;
    text-align: center;
    color: #fff;
}

.styleFoot2 {
    font-size: 15px;
    width: 100%;
    vertical-align: bottom;
    margin: 2rem 0 2rem;
    text-align: center;
    color: #fff;
}

.linkGH {
    color: #fff;
    font-weight: 600;
}

.linkGH:hover {
    color: #c79ce6;
}

/* animation h3.span */
.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px #865ba3;
        color: #51296e;
    }
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #865ba3;
        /* sombra */
        color: #51296e;
        /* color de letra */
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;

}

.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.loader span:nth-child(23) {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.loader span:nth-child(24) {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}