@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    min-height: 100vh;
}

.particles-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.particles-css .typing-demo h1 {
    font-size: 80px;
    color: #734f8c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: all 0.5s ease;
}

.particles-css h1:hover {
    color: #c79ce6;
}

/* If we want the words to be selected then: 

.particles-css ::selection{
    background-color: #c5abd8;
    color: #53326b;
}

.particles-css2 ::selection{
    background-color: #53326b;
    color: #fff;
} */

.typing-demo h1 {
    width: 12.5ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.particles-css .particles-css2 h3 {
    font-size: 20px;
    color: #9c7bb4;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3.span {
    margin: 10px;
    font-size: 26px;
    letter-spacing: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
    user-select: none;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span:hover {
    font-weight: 500;
    font-size: 25px;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: #231b29;
    /* #231b29 #e6ddd6*/

}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #734f8c;
}

::-webkit-scrollbar-thumb {
    background-color: #51296e;
}

/* navigation bar */
.nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
    background: #231b29;
    /* color fondo navBar */
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
}

.nav-bottom {
    position: absolute;
    bottom: 0;
}

.nav-top {
    position: fixed;
    top: 0;
}

.nav-tab {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #fff;
    /* color letra */
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 15px;
}

.nav-tab:hover {
    color: #fff;
    background: #5d3778;
    transition: all 0.5s ease;
}

.nav #marker {
    position: absolute;
    height: 2px;
    bottom: -2px;
    background-color: #804ba6;
    transition: 0.5s;
    border-radius: 4px;
}

/* New CSS for the marker animation */
.nav-bottom #marker {
    left: 0;
    width: 0;
}

.nav-top #marker {
    left: 0;
    width: 100%;
}

/* main */
.slider {
    box-shadow: 0 20px 50px rgba(73, 29, 94, 0.5);
    /*Sombra x section*/
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #151217;
    /*Fondo*/
    text-align: center;
    padding: 0 2em;

}

.container {
    height: 70%;
    width: 95%;
    display: flex;
    background-color: #151217;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(89, 61, 102, 0.2);
}

.slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    margin: 0;
    letter-spacing: 0.5rem;
    color: #734f8c;
    /*Primary color por h1*/
    transition: all 0.3s ease;
    z-index: 3;
}

.slider h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #231b29;
    /*Secondary color por h1: in hover*/
}

h1::selection {
    text-shadow: 4px 4px 0 #dec2f1;
}

.slider h2 {
    font-size: 15px;
    letter-spacing: 0.1rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
    /* padding-bottom: 110px; */
}

.slider h2::selection {
    background-color: #dec2f1;
    color: #51296e;
}

.subSlider {
    /* background-color: #dec2f1; */
    padding: 40px;
}

section .about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    margin-top: 14%;
    width: 350px;
    border-radius: .5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    justify-self: center;
    align-self: center;
}

.about-ford,
.about-bellman {
    width: 800px;
    margin-top: -2px;
    margin-right: 10rem;
}

.about-ford p,
.about-bellman p {
    margin: 15rem 0 10rem;
    font-size: 15px;
    text-align: justify;
    color: #faebd7;
    line-height: 2;
    top: 50%;
}

#tab-Implementation {
    height: 100px;
}

/* About project */
.info{
    color: #faebd7;
    line-height: 200px;
    width: 800px;
    height: 200px;
    /* border: 3px solid green; */
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

    margin: auto auto;
    padding: 10px;
    position: relative;
}

.info p {
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
}


p::selection {
    background-color: #5d3778;
    color: #dec2f1;
}

/* Footer */
footer {
    background-color: #231b29;
    color: #fff;
    padding: 25px;
    text-align: center;
    user-select: none;
    position: relative;
}

footer p {
    text-decoration: none;
}

.styleFoot {
    width: 100%;
    font-size: 10px;
    vertical-align: bottom;
    margin: 2rem 0 2rem;
    text-align: center;
    color: #fff;
}

.styleFoot2 {
    font-size: 15px;
    width: 100%;
    vertical-align: bottom;
    margin: 2rem 0 2rem;
    text-align: center;
    color: #fff;
}

.linkGH {
    color: #fff;
    font-weight: 600;
}

.linkGH:hover {
    color: #c79ce6;
}

/* animation h3.span */
.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    animation: loading 1s ease-in-out infinite alternate;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading {
    to {
        text-shadow: 20px 0 70px #865ba3;
        color: #51296e;
    }
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #865ba3;
        /* sombra */
        color: #51296e;
        /* color de letra */
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;

}

.loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.loader span:nth-child(23) {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.loader span:nth-child(24) {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

/* CSS para dispositivos pequeños */
@media screen and (max-width: 375px) {

    .particles-css .typing-demo h1 {
        font-size: 30px;
    }

    .particles-css .particles-css2 h3 {
        font-size: 13px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
        /* Modifica los valores según tus preferencias */
        background: #231b29;
        /* color fondo navBar */
        z-index: 10;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        user-select: none;
    }

    .nav-top {
        position: fixed;
        top: 0;
    }


    .nav-bottom {
        position: absolute;
        bottom: 0;
    }

    .nav-tab {
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: #fff;
        /* color letra */
        letter-spacing: 0rem;
        transition: all 0.5s ease;
        font-size: 9.5px;
    }

    .slider h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 30px;
        margin: 0;
        letter-spacing: 0.2rem;
        color: #734f8c;
        /*Primary color por h1*/
        transition: all 0.3s ease;
        z-index: 3;
    }

    .about-img img {
        width: 150px;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    /* about R.B& LF */
    .about-ford,
    .about-bellman {
        width: 265px;
        margin-left: 30px;
    }

    .about-ford p,
    .about-bellman p {
        margin-top: 2rem;
        font-size: 11px;
        text-align: justify;
        color: #faebd7;
        line-height: 2;

    }
}


/* CSS para dispositivos medianos */
@media screen and (max-width: 568px) {
    section {
        width: 100%;
        min-height: 100vh;
    }

    .particles-css .typing-demo h1 {
        font-size: 60px;
    }

    .particles-css .particles-css2 h3 {
        font-size: 16px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: #231b29;
        /* color fondo navBar */
        z-index: 10;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        user-select: none;
    }

    .nav-top {
        position: fixed;
        top: 0;
    }


    .nav-bottom {
        position: absolute;
        bottom: 0;
    }

    .nav-tab {
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: #fff;
        /* color letra */
        transition: all 0.5s ease;
        font-size: 10px;
    }

    .slider h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 35px;
        margin: 0;
        letter-spacing: 0.2rem;
        color: #734f8c;
        /*Primary color por h1*/
        transition: all 0.3s ease;
        z-index: 3;
    }

    .about-img img {
        width: 200px;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    /* about R.B& LF */
    .about-ford,
    .about-bellman {
        width: 410px;
        margin-left: 35px;
    }

    .about-ford p,
    .about-bellman p {
        margin-top: 2rem;
        font-size: 12.5px;
        text-align: justify;
        color: #faebd7;
        line-height: 2;

    }

    /* Footer */
    footer {
        background-color: #231b29;
        color: #fff;
        padding: 25px;
        text-align: center;
        user-select: none;
        position: relative;
    }

    footer p {
        text-decoration: none;
    }

    .styleFoot {
        width: 100%;
        font-size: 10px;
        vertical-align: bottom;
        margin: 2rem 0 2rem;
        text-align: center;
        color: #fff;
    }

    .styleFoot2 {
        font-size: 12px;
        width: 100%;
        vertical-align: bottom;
        margin: 2rem 0 2rem;
        text-align: center;
        color: #fff;
    }


}

/* CSS para dispositivos grandes */
@media screen and (max-width: 768px) {
    section {
        width: 100%;
        min-height: 100vh;
    }

    .particles-css .typing-demo h1 {
        font-size: 75px;
    }

    .particles-css .particles-css2 h3 {
        font-size: 20px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55px;
        background: #231b29;
        /* color fondo navBar */
        z-index: 10;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        user-select: none;
    }

    .nav-top {
        position: fixed;
        top: 0;
    }


    .nav-bottom {
        position: absolute;
        bottom: 0;
    }

    .nav-tab {
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: #fff;
        /* color letra */
        transition: all 0.5s ease;
        font-size: 15px;
    }

    .slider h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 45px;
        margin: 0;
        letter-spacing: 0.2rem;
        color: #734f8c;
        /*Primary color por h1*/
        transition: all 0.3s ease;
        z-index: 3;
    }

    .about-img img {
        width: 250px;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }

    /* about R.B& LF */
    .about-ford,
    .about-bellman {
        width: 600px;
        margin-left: 35px;
    }

    .about-ford p,
    .about-bellman p {
        margin-top: 2rem;
        font-size: 15px;
        text-align: justify;
        color: #faebd7;
        line-height: 2;

    }

}

/* CSS para dispositivos extra grandes */
@media screen and (min-width: 1024px) {
    .particles-css .typing-demo h1 {
        font-size: 80px;
    }

    .particles-css .particles-css2 h3 {
        font-size: 25px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #231b29;
        z-index: 10;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        user-select: none;
    }

    .nav-top {
        position: fixed;
        top: 0;
    }

    .nav-bottom {
        position: absolute;
        bottom: 0;
    }

    .nav-tab {
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: #fff;

        transition: all 0.5s ease;
        font-size: 15px;
    }

    .slider h1 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 45px;
        margin: 0;
        letter-spacing: 0.2rem;
        color: #734f8c;
        transition: all 0.3s ease;
        z-index: 3;
    }


    .subSlider {
        /* background-color: #dec2f1; */
        padding: 40px;
    }

    section .about {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img img {
        margin-top: 14%;
        width: 350px;
        border-radius: .5rem;
        margin-left: 15rem;
        margin-right: 15rem;
        justify-self: center;
        align-self: center;
    }

    .about-ford,
    .about-bellman {
        width: 800px;
        margin-top: -2px;
        margin-right: 10rem;
    }

    .about-ford p,
    .about-bellman p {
        margin: 15rem 0 10rem;
        font-size: 15px;
        text-align: justify;
        color: #faebd7;
        line-height: 2;
        top: 50%;
    }
}