.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes glow {
    0% {
        box-shadow: 0 0 0 0 #734f8c;
    }

    50% {
        box-shadow: 0 0 20px 0 #734f8c;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 #734f8c;
    }

    50% {
        box-shadow: 0 0 20px 0 #734f8c;
    }
}

.btn {
    background: none;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
}

.btn-glow {
    background: #51296e;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 20px;
    box-shadow: 0 0 0 0 #51296e;
    -webkit-animation: glow 1.4s linear infinite;
    animation: glow 1.4s linear infinite;
}

@media  (min-width: 800px) {
    .btn-glow {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
}

@media screen and (min-width: 360px) and (max-width: 799px) {
    .btn-glow {
        margin-top: 40px;
        margin-bottom: 40px;
        background: #51296e;
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 12px 15px;
        box-shadow: 0 0 0 0 #51296e;
        -webkit-animation: glow 1.4s linear infinite;
        animation: glow 1.4s linear infinite;
    }
}