@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap);
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #734f8c;
}

h1:hover {
    color: #c79ce6;
}

h1::selection{
    background-color: #c5abd8;
    color: #53326b;
}


h2 {
    margin-top: 1rem;
    color: #53326b;
}

h2:hover {
    color: #c79ce6;
}

hr {
    height: 2px;

}

body {
    background-color: #151217;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;

}

ul li a:hover {
    background-color: #833a8a;
    color: #fff;

}

.full {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
    background-color: #151217;
    /*Fondo*/
    padding: 0 2em;
    
}

.visualisation{
    border-radius: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
}


/* visualtisation tab style  */
.container {
    height: 70%;
    display: flex;
    /* width: 90vw; */
    max-width: 750px;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.btn-container {
    margin-left: 150px;
    box-shadow: 0 0 30px rgba(89, 61, 102, 0.2);
    /* background-color: #e2b8e6; */
    padding: 40px;
    border-radius: 1rem;
    width: 500px;
    color: #dec7e0;
}

.btn-container ::selection{
    background-color: #c5abd8;
    color: #53326b;
}

.btn-container p {
    line-height: 1.5;
}

.prev,
.next {
    background-color: transparent;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: #e2b8e6;
    border: 2px solid #2a1f2b;
    border-color: #3c2d3d;
    border-radius: 1rem;
    transition: all 0.3s ease;
    user-select: none;

}
.next {
    margin-left: 40px;
}

.next:hover {
    background-color: #c372ca;
    color: #fff;
}

.prev:hover {
    background-color: #c372ca;
    color: #fff;
}

.graphs {
    position: absolute;
    width: 100%;
    height: 400px;
    display: grid;
    place-items: left;
    align-items: center;
    /* background: #e2b8e6; */
    color: #e2b8e6;
    border-radius: 0.5rem;
    grid-template-columns: auto 1fr;
}

.graphs:nth-child(1) {
    left: 0%;
}

.graphs:nth-child(2) {
    left: 100%;
}

.graphs:nth-child(3) {
    left: 200%;
}

.graphs:nth-child(4) {
    left: 300%;
}

.graphs:nth-child(5) {
    left: 400%;
}

.graphs:nth-child(6) {
    left: 500%;
}

.graphs:nth-child(7) {
    left: 600%;
}

.graphs:nth-child(8) {
    left: 700%;
}

.graphs:nth-child(9) {
    left: 800%;
}

.graphs:nth-child(10) {
    left: 900%;
}

.graphs:nth-child(11) {
    left: 1000%;
}

.graphs:nth-child(12) {
    left: 1100%;
}

.graphs:nth-child(13) {
    left: 1200%;
}

.graphs:nth-child(14) {
    left: 1300%;
}

.graphs:nth-child(15) {
    left: 1400%;
}

.graphs:nth-child(16) {
    left: 1500%;
}

.graphs:nth-child(17) {
    left: 1600%;
}

.graphs:nth-child(18) {
    left: 1700%;
}

.graphs:nth-child(19) {
    left: 1800%;
}

.graphs:nth-child(20) {
    left: 1900%;
}

img {
    width: 100%;
    border-radius: 0.5rem;
}

.graphs-image {
    height: 400px;
    width: 400px;
    user-select: none;
}

.graphs-info {
    align-self: center;
    text-align: justify;
    padding-left: 40px;
    transform: translateY(-4rem);
    line-height: 1.5;
}

.graphs-info::selection{
    background-color: #53326b;
    color: #e2b8e6;
}